body {
  background-color: #black;
  color: #black;
  font-size: 16px;
  line-height: normal;
}

nav {
  background-color: #black;
  float: left;
  position: fixed;
  width: 100%;
  text-decoration: none;
  color: blue;

}

.logo {
  margin: 20px;
  width: 100px;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 70%;
}

.left .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}
.h1  {
  font-size: 72px:
  color: black
  font-weight:lighter;

}
ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
  text-decoration: none;
}

article {
  padding-top: 100px;
}

.container {
  margin: 0 auto;
  width: 50%;
}
