body {
  background-color: white;
  color: #black;
  font-size: 16px;
  line-height: 1.2;
}

nav {
  background-color: black;
  float: left;
  position: fixed;
  width: 100%;
  color: blue;
  height: 10%;
}
/* why aren't the links fixing to the navbar?*/

a {
  text-decoration: none;
  margin-left: 750%;
}
a:hover {
  color: white;
}

.logo {
  margin: 18px;
  margin-left: -388px;
  width: 100px;
}

.large-pic {
  width: 200%;

}

.medium-pic {
  width: 100%;
  margin: auto;
}

.left .right {
  float: left;
  width: 50%
}

.right {
  float: right;
}
.h1  {
  font-size: 72px:
  color: black
  ;
  ;
}

p {
  display: block;
  padding-top: 5%;
  padding-bottom: 2%;

}
ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
  position: relative;
}

article {
  padding-top: 100px;
}

.container {
  margin: 0 auto;
  width: 50%;
  line-height: normal;
  line-height: 1.2;
  font-size: 16px;
}

h1 {
  font-size: 23px;
  padding-bottom: 5%;
}
